<launch>
  <param name="aircraft_id" type="int" value="$(arg id)" />
  <param name="aircraft_name" type="str" value="$(arg name)" />
  <node name="autopilot" pkg="autopilot_bridge" type="mavbridge.py" output="screen" args="--module acs --module slave" />
  <node name="safety" pkg="ap_safety_monitor" type="safety.py" output="screen" >
    <remap from="safety/heartbeat" to="autopilot/heartbeat_onboard" />
  </node>
  <node name="network" pkg="ap_network_bridge" type="aerial.py" output="screen" args="--device wlan0" >
    <remap from="network/send_flight_status" to="autopilot/status" />
    <remap from="network/send_pose" to="autopilot/acs_pose" />
    <remap from="network/recv_heart_ground" to="autopilot/heartbeat_ground" />
    <remap from="network/recv_arm" to="autopilot/arm" />
    <remap from="network/recv_mode" to="autopilot/mode_num" />
    <remap from="network/recv_land" to="autopilot/land" />
    <remap from="network/recv_land_abort" to="autopilot/land_abort" />
    <remap from="network/recv_guided_goto" to="autopilot/guided_goto" />
    <remap from="network/recv_waypoint_goto" to="autopilot/waypoint_goto" />
  </node>
</launch>
