<!-- Wrapper launch file for SITL instances -->

<!-- Note: args 'id' and 'name' are mandatory -->

<launch>

  <!-- Arguments to SITL instance -->
  <arg name="sitl" default="tcp:127.0.0.1:5762" />
  <arg name="dev" default="lo" />
  <arg name="port" default="5554" />
  <arg name="ns" default="/" />

  <!-- Optional features -->
  <arg name="bag" default="0" />    <!-- Generate ROS bag files -->
  <arg name="viz" default="0" />    <!-- Run the vizualizer -->
  <arg name="ctlr" default="1" />   <!-- Run the controller nodes -->

  <!-- Launch master with modified args and optional namespace -->

  <include file="$(find ap_master)/launch/master.launch" ns="$(arg ns)" >
    <!-- pass ID and Name through -->
    <arg name="id" default="$(arg id)" />
    <arg name="name" default="$(arg name)" />

    <!-- set or pass SITL-specific args -->
    <arg name="gps" default="0" />
    <arg name="do_ctlr" default="$(arg ctlr)" />
    <arg name="do_bag" default="$(arg bag)" />
    <arg name="do_sitl" default="1" />
    <arg name="sitl_dev" default="$(arg sitl)" />
    <arg name="net_dev" default="$(arg dev)" />
    <arg name="net_port" default="$(arg port)" />
  </include>

</launch>
